/* Inner Projects Styles */

.projects-thumbnail img{

	display:block;
	height: auto;	
}

.profile-img {
	text-align: center;
}

.project-inner img {
	display: block;
	margin: auto;	
}
.col-md-4 {
	font-size: 16px;
	font-weight: bolder; 
}
