/* Inner Projects Styles */

.profile-img img {
	width:100%;

	overflow: hidden;
}

.form-inline {
	margin: 20px; 
}
a {
	color:#FF5733;
}
/*   BUTTON EFFECTS */
.btn-primary {
    background-color: #00B270;
}
a.btn-primary {
	background-color: #00B270;
}
a.btn-primary:hover {
	background-color: #00FFA0;
}

.btn-danger {
	background-color: #FF2D00;
}
button.btn-primary:hover {
	background-color: #00FFA0;
}
.btn-warning {
    background-color: #ff5733;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
    background-color: #FF2D00;
}
.btn-success {
    background-color: #1B48B2;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    background-color: #144BCC;
}

#min, #max{
    width: 80px;
    border-radius: 0px 5px 5px 0px;
}

.search_form{
    float: left;
    width: 200px;
    margin-left: 30px;
    padding-left: 30px;
}

.search_container{
    margin-left: 150px;
}

.gallery {
    height: 200px;
    background-color: #f2f2f2;
}

.search-btn{
    text-align: center;
}

#search{
    width:150px;
}

.skulls {
    background-image: url('skulls.png');
}

